<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        .linkedin-link {
            font-weight: bold;
            color: #721456; /* Dark blue */
            text-decoration: none; /* Optional: removes underline from the link */
        }

        .linkedin-link:hover {
            text-decoration: underline; /* Optional: underlines the link on hover */
        }
    </style>
</head>
<body>

    <footer class="center">
      <div class="measure">
        <small>
        </small>
      </div>
      <div class="footer-foot">
        <img src="{{ site.baseurl }}/blueSOD-150x150.png" alt="Blue Screen of Death" class="avatar" width="150" height="150" loading="lazy">
         <p>
           Follow me on <a href="https://www.linkedin.com/in/nihar-chaithanya-b8229a198/" class="linkedin-link">LinkedIn</a>
         </p>
         <p>
           M Nihar Chaithanya.
         </p>
         <p xmlns:cc="http://creativecommons.org/ns#">
           <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0</a>
           <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
           <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
           <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
           <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
         </p>
      </div>
    </footer>

    {% if site.enable_anchorjs %}<!-- AnchorJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
    <script>
        anchors.options.visible = 'always';
        anchors.add('article h2, article h3, article h4, article h5, article h6');
    </script>
    {% endif %}
    <script type="text/javascript">
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
        }
    </script>
</body>
</html>
