---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h2>{{ page.title }}</h2>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.updated %}
    <span class="post-meta">{{ site.text.post.updated | default: "Updated" }}: {{ page.updated | date: site.date_format }}</span><br>
  {% endif %}
  {% for tag in page.tags %}
    {% assign tag_slug = tag | slugify: "raw" %}
    <a class="tag-link"
      href={{ site.baseurl | append: "/tag/" | append: tag_slug | append: "/" }}
      rel="category tag">
      #{{ tag }}
    </a>
    &nbsp;
  {% endfor %}<br>
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% endif %}
  </span>
</div>

<article class="post-content">
  {{ content }}
</article><br>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}<br>
{% endif %}

{% if site.show_related_posts %}
  <div class="relatedPosts">
  <h3>Related Posts</h3>
  
  {% assign maxRelated = 5 %}
  {% assign minCommonTags = 2 %}
  {% assign maxRelatedCounter = 0 %}
  
  {% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
  
    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
  
    {% if sameTagCount >= minCommonTags %}
      <div class="post ml2">
        <a href="{{ post.url | relative_url }}" class="post-link">
          <h4 class="post-title">{{ post.title }}</h4>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
    {% endif %}
  {% endfor %}
  {% if maxRelatedCounter == 0 %}
    <label>Unicorn post! No related posts yet</label>
  {% endif %}
  </div>
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = {{ page.title | jsonify }};

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.facebook_comments %}
  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="{{ site.facebook_comments_number }}"></div>
{% endif %}